
/* FONTS AND SIZES */

h1, h2,h3,h4,h5,h6{
	
	font-family: 'Ceviche One', cursive;
}
h1{
	font-size:5em;
}

h2{
	font-size:3em;
}

body {
	font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 768px){
	.jumbotron h1, .jumbotron .h1 {
		font-size: 120px;
	}
}

.navbar-default .navbar-brand {
	
}

/* COLORS http://colorschemedesigner.com/#0r51Tvfyiw0w0 */

.navbar-default {
background-color: #ff7006;
border-color: #a64802;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a{
	color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	color: #fff;
	background-color: #ffa806;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#fff;
}


.background1 h2, .background1 .btn-primary {
	background-color: #ffb076;
}

.background2 h2, .background2 .btn-primary {
	background-color: #ffcf76;
}

.background3 h2, .background3 .btn-primary {
	background-color: #6f94d7;
} 

.background4 h2, .background4 .btn-primary {
	background-color: #61d2c6;
}

.btn-primary {
	border: 0;
}

.jumbotron {
	/*border: 5px solid;
	 border-color: #f90618;*/
	background-color: #ff959f;
}


/* NAV */
.navbar {
	border-radius: 0;
	border:0;
	
}
.navbar .container {
	padding-left: 40px;
	padding-right: 25px;
}

.navbar-default .navbar-toggle {
	border: 0;
}

.navbar-nav li a {
	padding-top: 17px;
	padding-bottom: 13px; 
}


.navbar .glyphicon {
	top: 0px;
	left: -3px;
}

/* lAYOUT */
body { padding-top: 70px; }

.static-box {
	padding:0 20px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	padding-left: 5px;
}

.jumbotron{
	text-align: center;
}

.jumbotron p {
	margin: 15px;
}