<div class="jumbotron col-md-8  static-box" data-static-blockid='0'>

</div>
<div class="col-md-4 static-box background2" data-static-blockid='1'>

</div>
 <div class="clearfix visible-md visible-lg"></div>
<div class="col-md-4 static-box background3" data-static-blockid='2'>

</div>
<div class="col-md-8 static-box background4" data-static-blockid='3'>

</div>
<div class="col-md-12 static-box background1" data-static-blockid='4'>

</div>
<div class="jumbotron col-md-12  static-box" data-static-blockid='5'>

</div>
